h1{

    /* color */

    /* 0-> 9 , a-> f */

    
   
    color: red;     
    text-align: center;
}
p{
    color: red;
    text-indent: 50px;
    font-size: 20px;
    word-spacing: 30px;
    line-height: 30px;
    width: 100%;
    background-color: blue;
}