/* universal selector */
*{
    /* color: red; */
}

/* tag or element selector*/
h1{
    text-align: center;
    color: green;
}
/* attribute selector */
a[title="google"]{
    letter-spacing: 20px;
}
/* id selector (idသည် unit ဖြစ်ရပါမယ် နာမည် တခုထဲ ဖြစ်ရပါမယ်) */
#idselector{
    text-indent: 40px;
}
/* class selector */
.classselector{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}

/* descendant selector */
div p{
    background-color: yellow;
}

div>p {
    color: black;
}

span>p {
    color: green;
}

/* Pseudo Selector */
h1 a:hover{
    color: white;
    font-size: 50px;
    background-color: red;
}

h1:hover {
    color: red;
}



h2 a:link {
    color: green;
}

h2 a:hover {
    color: greenyellow;
}

h2 a:visited {
    color: purple;
}

h2 a:active {
    color: yellow;
}