/* universal selector */
*{
    /* color: red; */
}

/* tag or element selector*/
h1{
    text-align: center;
    color: green;
}
/* attribute selector */
a[title="google"]{
    letter-spacing: 20px;
}
/* id selector (idသည် unit ဖြစ်ရပါမယ် နာမည် တခုထဲ ဖြစ်ရပါမယ်) */
#idselector{
    text-indent: 40px;
}
/* class selector */
.classselector{
    color: brown;
    letter-spacing: 10px;
    word-spacing: 20px;
    line-height: 40px;
}

/* descendant selector */
/* div p{
    background-color: yellow;
} */

div>p {
    color: black;
}

span>p {
    color: green;
}

/* Pseudo Selector */
h1 a:hover{
    color: white;
    font-size: 50px;
    background-color: red;
}

h1:hover {
    color: red;
}



h2 a:link {
    color: green;
}

h2 a:hover {
    color: greenyellow;
}

h2 a:visited {
    color: purple;
}

h2 a:active {
    color: yellow;
}


/* target */
:target{
    color: red;
    border: 1px solid black;
    line-height: 30px;
    letter-spacing: 20px;

}

/* Border */
.borderone{
    border: 10px  solid red;
}

.bordertwo{
    border-top: 5px double yellow ;
    border-left: 5px double yellow ;
}

.borderthree{
    border-color: brown yellow;
    /* border-style: solid ;
    /* T & R & B & L */
    /* border-style: solid dotted;
    /* T & B / L & R */
    /* border-style: solid dotted double; */ 
    /* T / L&R / B */
    border-style: solid dotted double dashed;
    /* T/ R/ B/ L */
}

.borderwidth{
    border-style: solid;
    border-width: 3px 30px;
}

*{
    margin: 0px;
    padding: 0px;
}

.marginone{
    margin: 10px 30px 40px 100px;
}
.margintwo{
    margin-left: 100px;
}
.padding{
    /* padding: 100px; */
    padding-top: 50px;
    border: 10px solid red;
}

/* Layout */
.inline{
    border: 2px solid red;
    display: inline-block;
    width: 400px;
}

.block{
    border: 2px solid green;
    width: 400px;
    display: inline-block;
}

/* float */
.float_right img{
    float: right;
    width: 40%;

}


.clear{
    clear: both
}

.float_left img{
    width: 40%;
    float: left;
}

/* grid */
.gridone div, .gridtwo div, .gridthree div, .gridfour div, .gridfive div,.gridsix div{
    padding: 20px;
    color:white;
    text-align: center;
}

.gridone, .gridtwo, .gridthree, .gridfour, .gridfive, .gridsix{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo {
    grid-column-gap: 40px;
}

.gridthree{
    grid-row-gap: 40px;
}
.gridfour{
    grid-gap: 40px;
}
.columnadd{
    grid-column-start: 1;
    grid-column-end: 3;
}

.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}

/* /Position */
.parent_absolute{
    width: 1200px;
    height: 500px;
    border: 2px solid red ;
    position: relative;
 
}
.absolute{
    width: 400px;
    height: 200px;
    border: 1px solid yellow;
    position:absolute ;
    top: 10px;
    left:158px ;
}

.parent_relative{
    width: 1200px;
    height: 500px;
    border: 2px solid green;
    
 
}

.relative{
    width: 400px;
    height: 200px;
    border: 2px solid red ;
    position:relative ;
    top: 10px;
    left:150px ;
}

.fixed{
    position: fixed;
    top: 50px;
    right: 100px;
}



.online{
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@font-face {
    font-family: "oswald";
    src: url(Oswald/Oswald-VariableFont_wght.ttf);
   

}



.offline{
    font-family: "oswald";
}   

