*{
    padding:0px ;
    margin:0px ;
}

/* start now */
.nav_logo{
    width: 160px;
    height: 90px;
    margin-left: 120px;
    margin-top: 10px;
}
.nav_item {
    float: right;
}

.nav_item li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 50px;
}

.nav_item li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 4);
}
.nav_item li a:hover{
    color: red;

}
.cart_nav_item{
    margin-right: 100px;
}
.cart_noti {
    position: relative;
    top:-20px;
    right: 110px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}


/* end nav */

/* start Bunner */
.carousel_img{
    width: 100%;
}
.carsousel_text{
    position: absolute;
    top: 300px;
    left: 200px;
    color: white;
    background-color: rgba(0, 0, 0, .2);
    padding: 40px;
}
.carsousel_text h2{
    margin-bottom: 15px;
}
.show_now{
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 15px 25px;
    border: 1px solid red;
    border-radius: 5px;
}
.show_now:hover{
    cursor: pointer;
}

.discount{
    border: 1px solid black;
    width: 250px;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.thin{
    color: rgb(87, 83, 77);
}

.float_left{
    float: left;
    width: 25%;
}

