*{
    padding:0px ;
    margin:0px ;
}

/* start now */
.nav_logo{
    width: 160px;
    height: 90px;
    margin-left: 120px;
    margin-top: 10px;
}
.nav_item {
    float: right;
}

.nav_item li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 50px;
}

.nav_item li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 4);
}
.nav_item li a:hover{
    color: red;

}
.cart_nav_item{
    margin-right: 100px;
}
.cart_noti {
    position: relative;
    top:-20px;
    right: 110px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}


/* end nav */

/* start Bunner */
.carousel_img{
    width: 100%;
}
.carsousel_text{
    position: absolute;
    top: 300px;
    left: 200px;
    color: white;
    background-color: rgba(0, 0, 0, .2);
    padding: 40px;
}
.carsousel_text h2{
    margin-bottom: 15px;
}
.show_now{
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 15px 25px;
    border: 1px solid red;
    border-radius: 5px;
}
.show_now:hover{
    cursor: pointer;
}


/* start service */
.promotion{
   
    border: 1px solid gray;
    width: 20%;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.thin{
    color: rgb(87, 83, 77);
}

.float_left{
    float: left;
    width: 25%;
}
/* end Service */

/* Promotion Items */
.promtion_title{
    margin-top: 50px;
    margin-left: 150px;
}
.divided{
    width: 80px;
    border: 2px solid red;
    margin-left: 150px;
}

.promotion1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 15px 30px;
    grid-column-gap: 30px;
}

.promotion_image{
    width: 100%;
}
.promotion_item{
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
}

.promotion_item_name{
    text-align: center;
    padding-bottom: 20px;
}

.promotion_price{
    position: absolute;
    top: 2%;
    right: 2%;
}

.discount_price{
    color: red;
    display: block;
}
.normal_price{
    color: red;
    text-decoration: line-through;
}

/* end promotion */

/* start new arrival */
.new_arrival{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 15px 30px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.new_arrival_item{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 20px 10px;
    position: relative;
}

.new_arrival_text{
    display: inline-block;
}
.whist_list{
    float: right;

}
.new_arrival_img{
    width: 100%;
}
.new_arrival_icon{
    position: absolute;
    top: 40%; 
    left: 40%;
    opacity: 0;
}
.new_arrival_icon a{
    border: 1px solid red;
    background-color: rgb(233, 223, 223);
    color: red;
    padding: 10px;
    border-radius: 5px;
}
.new_arrival_icon a:hover{
    background-color: red;
    color: white;
}

.new_arrival_item:hover .new_arrival_icon{
    opacity: 1;
}

.new_arrival_img:hover{
    opacity: .6;
}
/* end new arrival */
/* start subscriber */
.subscriber{
    background-color: rgb(233, 21, 21);
    padding: 70px 0px;
    margin-top: 50px;
}

.subscriber div{
    width: 40%;
    margin-left: 300px;
    color: white;
    
}

.subscriber div p{
    margin-top: 10px;
    width: 70%;
    margin-bottom: 15px;
}

.subscriber div{
    float: left;
}

.subscriber_input{
    width: 400px;
    height: 40px;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}

.subscribe_btn{
    width: 100px;
    height: 44px;
    color: white;
    outline: none;
    border: 1px solid black;
    background-color: black;
    border-radius: 0px 5px 5px 0px;
}
/* end subscriber */

/* start new */
.news{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px 150px 0px;
    grid-column-gap: 20px;
}
.news_img{
    width: 100%;
}

.news>div{
    border: 1px solid gray;
    border-radius: 5px;
}

.news_text{
    padding: 10px 20px 20px ;
    
}
.news_text h3{
    margin-bottom: 10px;
}

.news_text p{ 
    padding: 5px 0px 10px;
}


.read_more{
    border: 1px solid red;
    padding: 10px 20px;
    text-decoration: none;
    color: red;
    border-radius: 5px;
    float: right;
    display: inline-block;
    margin-bottom: 10px;

} */

.news_admin{
    opacity: .7;
    font-style: italic;
    font-size: 14px;
}

.read_more:hover{
    background-color: red;
    color: white;
}

 .news_img:hover{
    transform: scale(1.2);
    transition-duration: 5s;
}

.image_hover{
    overflow: hidden;
    display: block;
}

/* end new */

/* start footer */
.footer{
    background-color: black;
    margin-top: 50px;
    color: white;
    padding: 80px 0px;
    display: grid;
    grid-template-columns: 600px 200px 200px auto;
    
}
.footer_about{
    margin-left: 100px;
}

.divided_footer{
    width: 80px;
    border: 2px solid red;
    margin-bottom:10px ;
    margin-top: 5px;
}
.footer_about p{
    width: 80%;
    line-height: 20px;
}
.foter_nav_item{
    color: white;
    display: block;
    text-decoration: none;
    margin-top: 20px;
}
.footer_address{
    margin-top: 20px;
    
    
}
.address_icon{
    padding-right: 10px;
}
.footer_social_icon a{
    color: white;
    margin-top: 20px;
    display: inline-block;
    margin-right: 15px;
}