*{
    padding:0px ;
    margin:0px ;
}

/* start now */
.nav_logo{
    width: 160px;
    height: 90px;
    margin-left: 120px;
    margin-top: 10px;
}
.nav_item {
    float: right;
}

.nav_item li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 50px;
}

.nav_item li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.nav{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 4);
}
.nav_item li a:hover{
    color: red;

}
.cart_nav_item{
    margin-right: 100px;
}
.cart_noti {
    position: relative;
    top:-20px;
    right: 110px;
    background-color: red;
    padding: 5px;
    border-radius: 50%;
}


/* end nav */

/* start Bunner */
.carousel_img{
    width: 100%;
}
.carsousel_text{
    position: absolute;
    top: 300px;
    left: 200px;
    color: white;
    background-color: rgba(0, 0, 0, .2);
    padding: 40px;
}
.carsousel_text h2{
    margin-bottom: 15px;
}
.show_now{
    margin-top: 20px;
    background-color: red;
    color: white;
    padding: 15px 25px;
    border: 1px solid red;
    border-radius: 5px;
}
.show_now:hover{
    cursor: pointer;
}


/* start service */
.promotion{
   
    border: 1px solid gray;
    width: 20%;
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

.thin{
    color: rgb(87, 83, 77);
}

.float_left{
    float: left;
    width: 25%;
}
/* end Service */

/* Promotion Items */
.promtion_title{
    margin-top: 50px;
    margin-left: 150px;
}
.divided{
    width: 80px;
    border: 2px solid red;
    margin-left: 150px;
}

.promotion1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 15px 30px;
    grid-column-gap: 30px;
}

.promotion_image{
    width: 100%;
}
.promotion_item{
    border: 1px solid gray;
    border-radius: 5px;
    position: relative;
}

.promotion_item_name{
    text-align: center;
    padding-bottom: 20px;
}

.promotion_price{
    position: absolute;
    top: 2%;
    right: 2%;
}

.discount_price{
    color: red;
    display: block;
}
.normal_price{
    color: red;
    text-decoration: line-through;
}

/* end promotion */

/* start new arrival */
.new_arrival{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 15px 30px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.new_arrival_item{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 20px 10px;
    position: relative;
}

.new_arrival_text{
    display: inline-block;
}
.whist_list{
    float: right;

}
.new_arrival_img{
    width: 100%;
}
.new_arrival_icon{
    position: absolute;
    top: 40%; 
    left: 40%;
    opacity: 0;
}
.new_arrival_icon a{
    border: 1px solid red;
    background-color: rgb(233, 223, 223);
    color: red;
    padding: 10px;
    border-radius: 5px;
}
.new_arrival_icon a:hover{
    background-color: red;
    color: white;
}

.new_arrival_item:hover .new_arrival_icon{
    opacity: 1;
}

.new_arrival_img:hover{
    opacity: .6;
}
